<div class="whole">
<h1>Questions</h1>
<div class="block">
<form action="/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!", class="btn btn-primary my-2">
</form>
</div>
</div>
